{{#if products.length}}
  <div class="responsive-table">
    <table class="striped highlight">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>{{this.product.nombre}}</td>
            <td>{{this.quantity}}</td>
            <td>
              <a href="#!" class="btn red lighten-1 waves-effect waves-light delete-product-btn" data-id="{{this.product.id}}">Eliminar</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="right-align" style="margin-top: 20px;">
    <a href="#!" class="btn red darken-2 waves-effect waves-light delete-all-btn">Eliminar Todos</a>
  </div>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}