<div class="row">
  <div class="col s12 m6 offset-m3">
    <h3 class="center-align">Perfil</h3>

    <div class="card-panel">
      <p><strong>Nombre:</strong> {{user.first_name}}</p>
      <p><strong>Apellido:</strong> {{user.last_name}}</p>
      <p><strong>Email:</strong> {{user.email}}</p>
      <p><strong>Edad:</strong> {{user.age}}</p>
    </div>

    <div class="center-align">
      <a href="/api/sessions/logout" class="btn red">Cerrar sesión</a>
    </div>
  </div>
</div>
